<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>unit converter</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <h1>Unit converter</h1>
    <nav>
      <ul>
        <li><a href="">length</a></li>
        <li><a href="">weight</a></li>
        <li><a href="">temperature</a></li>
      </ul>
    </nav>
    <%- include('length') %>
  </body>
</html>
