<form method="post" action="">
  <label>Enter the length to convert</label>
  <input type="number" />
  <label for="">unit to convert from</label>
  <select name="" id="">
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
  </select>
  <label for="">unit to convert to</label>
  <select name="" id="">
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
    <option value="volvo">Volvo</option>
  </select>
</form>
