* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  color: brown;
  height: 100vh;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.main__form {
  margin-top: 20px;
  padding: 10px;
  height: 60%;
  outline: 2px dashed darkblue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 70px;
  outline: 2px solid black;
}

input {
  width: 100%;
}

button {
  padding: 10px;
}
